::ng-deep :root {
  --red: #E00015;
  --blue: #00ADEF;
  --white: #FFFFFF;
  --light-gray: #FCFBFB;
  --dark: #333;
}

.contact-card {
  border: 15px solid var(--red);
  color: black;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  float: inside;
}
