<body>
<!--<div id="c4nlogo">-->
  <img id="c4nlogo1" src="https://upload.wikimedia.org/wikipedia/commons/9/9b/Code_For_Nepal_Logo.png"/>
  <img id="c4nlogo2" src="https://upload.wikimedia.org/wikipedia/commons/9/9b/Code_For_Nepal_Logo.png"/>
<!--</div>-->
  <h1 id="titleText"> Covid-19 Resources</h1>



  <div width="50%" height="50%">

    <!--  All of contact and symptom cards-->
    <div class="container">
      <app-contact class="card" id="contactcard"></app-contact>
      <app-symptoms class="card" id="symptomcard"></app-symptoms>
    </div>


  </div>
<div class="container">
  <!--  Map, input form, and the help div -->
  <div class ="map">
  <app-map></app-map>
  </div>
  <app-form id="form"></app-form>
  <app-help id="help"></app-help>
</div>


</body>
