<mat-card class="contact-card">
  <mat-card-header>
    <mat-card-title>
      <strong> Common Symptoms </strong></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li>Fever or chills</li>
      <li>Cough</li>
      <li>Shortness of breath or difficulty breathing</li>
      <li>Fatigue</li>
    </ul>
    <p>
      For a more extensive list click <a href="https://www.who.int/health-topics/coronavirus#tab=tab_3"> here.</a>
    </p>


  </mat-card-content>
  <mat-card-actions>
    <!--          <button mat-button>LIKE</button>-->
<!--    <button mat-button>SHARE</button>-->
  </mat-card-actions>
</mat-card>


